<div class="ui-g-12">
  <p-panel header="Starting Portfolio" class="ui-g-6">
    <div id='initPortBool' *ngIf="initialPortfolio">
      <portfolio-component id='initPort'[portfolioDataSet]="(initialPortfolio | IterableMap)"></portfolio-component>
    </div>
  </p-panel>

  <p-panel header="Ending Portfolio" class="ui-g-6">
    <div class="finalPortBool">
      <portfolio-component id='finalPort' [portfolioDataSet]="(desirePortfolio | IterableMap)"></portfolio-component>
    </div>
  </p-panel>
</div>
